@charset "utf-8";

/* ============================================ 
    index css
============================================ */

header {
    width: 100%;
    height: 120px;
}

.header_top {
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.header_top h1 {
    margin-left: 20px;
}

.header_tab {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 1px;
}

.header_tab ul li {
    margin: 0 10px;
}

.header_tab ul li a {
    display: inline-block;
    line-height: 44px;
    padding: 0 10px;
    font-weight: bold;
    color: #aaaaaa;
}

.header_tab ul li a:hover {
    border-bottom: solid 3px #111111;
    color: #111111;
    transition: .1s;
}

.contains_wrapper {
    display: flex;
}

.side_menu {
    width: 250px;
    height: 900px;
    background: #ffe6e6;
}

.main_contains {
    width: calc(100% - 250px);
    height: 900px;
    background: rgb(224, 237, 242);
}