<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <title>Index</title>
</head>

<body>
    <header>
        <div class="header_top">
            <h1>hearder</h1>
        </div>
        <div class="header_tab">
            <ul>
                <li>
                    <a href="#">メニュー1</a>
                    <a href="#">メニュー2</a>
                    <a href="#">メニュー3</a>
                    <a href="#">メニュー4</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="contains_wrapper">
        <div class="side_menu">
        </div>
        <div class="main_contains">
        </div>
    </div>
</body>

</html>